@import "../../../assets/styles/variables.scss";

.container {
  width: 100%;
  height: 100%;
  max-width: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .image {
    position: relative;
    height: 65%;

    background: $color-secondary;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .7;

    &.background-image {
      background: $color-secondary;
    }

    span {
      position: absolute;
      top: 5px;
      right: 7px;
      font-weight: 800;
      font-size: 1.5rem;

      background-color: #ffffff6b;
      color: #000000;
      padding: 0 5px;
      border-radius: 100%;
      backdrop-filter: blur(6px);
      cursor: pointer;
    }

    span:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }
  }

  .controls {
    padding: 10px;
    background-color: $color-dark-transparent-70;
    flex-grow: 1;
    color: $color-white;

    span {
      color: $color-white;
      font-size: 1.3rem;
      font-weight: 700;

      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .buttons {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.9rem;
      position: relative;

      * {
        color: $color-primary;
        cursor: pointer;
      }
    }
  }
}
