<div class="my-songs">
  <span class="title-bg mt-4">
    Mejor Artista
  </span>

  <app-best-artist class="mt-2 d-block"></app-best-artist>

  <span class="title-bg mt-4">
    Canciones Favoritas
  </span>

  <table class="table mt-3">
    <thead>
      <tr>
        <th class="w-5">#</th>
        <th class="w-15">Titulo</th>
        <th class="w-20">Artista</th>
        <th class="w-10 right">Duración</th>
        <th class="w-20">Albúm</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let music of songs" (click)="playMusic(music)" [class.executando]="music.id === currentMusic.id">
        <td>
          <fa-icon class="play" [icon]="playIcon"></fa-icon>
        </td>
        <td>{{ music.title }}</td>
        <td>{{ getArtists(music) }}</td>
        <td class="right">{{ music.time }}</td>
        <td>{{ music.album.name }}</td>
      </tr>
    </tbody>
  </table>

</div>


<app-side-bar-right class="right-panel"></app-side-bar-right>
