$color-primary: #37ab00;
$color-secondary: #fbfef4;
$color-white: #fff;

$color-dark-transparent-70: #000000b3;
$color-dark-transparent-30: #0000004D;
$color-dark-transparent-20: #00000033;
$color-dark-transparent-03: #00000008;

$color-background: #fbfef4;
$color-background-dark: #0f0f0f;
